<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="海象网络科技(杭州)有限公司" />
	<meta name="robots" content="All|None|Index|Noindex|Follow|Nofollow" />
	<meta name="author" content="海象网络科技(杭州)有限公司" />
	<meta name="copyright" content="© Walrushz.com All rights reserved" />
	<title>物流APP后台管理系统</title>
	<link rel="stylesheet" href="$request.getContextPath()/css/rightCommon.css">
	<link rel="stylesheet" href="$request.getContextPath()/css/common.css">
	<link rel="stylesheet" href="$request.getContextPath()/css/bootstrap.min.css" />
	
	<script type="text/javascript" src="$request.getContextPath()/js/jquery.min.js"></script>
	<script type="text/javascript" src="$request.getContextPath()/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="$request.getContextPath()/plugin/layer/layer.js"></script>
	<script type="text/javascript" src="$request.getContextPath()/plugin/My97DatePicker/WdatePicker.js"></script>
	<script type="text/javascript" src="$request.getContextPath()/plugin/jqPaginator/jqPaginator.js"></script>
	
	<script type="text/javascript" src="$request.getContextPath()/js/examine/examineNotPass.js"></script>
</head>
<body>
<div class="mainSemt">
	<div class="navigateItem pl20">
		业务审核>审核不通过
	</div>
	<div class="search">
		<ul class="mb20 overflow">
			<li>
				<select class="form-control select145 h30" id="type" onchange="changeInput()">
					<option value="0">搜索类型</option>
					<option value="1">用户类型</option>
					<option value="2">手机号码</option>
				</select>
			</li>
			<li >
				<input type="text" class="form-control text250 h30" id="typeValue"/>
				<select class="form-control text250 h30" id="userType" style="display:none">
					<option value="1">企业</option>
					<option value="2">司机</option>
					<option value="3">车辆</option>
					<option value="4">仓储</option>
				</select>
			</li>
			<li >
				<span class="fl">开始时间：</span>
				<input type="text" class="form-control selec110 h30 fl" readonly  id="startDate" onClick="WdatePicker()"/>
			</li>
			<li>
				<span class="fl">结束时间：</span>
				<input type="text" class="form-control selec110 h30 fl" readonly  id="endDate" onClick="WdatePicker()"/>
			</li>
			<li>
				<span class="btnSearch whitefc f14 mt5 clearfix cursor" onclick="search(1);">
					搜索
				</span>
			</li>
		</ul>
	</div>
	<div class="rightMain tc p10">
		<table width="100%">
			<tr>
				<td>用户ID</td>
				<td>手机号码</td>
				<td>用户类型</td>
				<td>递交时间</td>
				<td>不通过理由</td>
				<td>审核人</td>
				<td>审核时间</td>
				<td>操作</td>
			</tr>
			<tbody id="tbodyId">
				<tr >
					<td colspan="10">无数据</td>
				</tr>
            </tbody>
		</table>
		<div class="page tc f14 mt20 customBootstrap" id="pageId" style="display:none">
			<div class="fl">共<span class="bluefc" id="showPageCount"></span>页记录</div> <ul class="pagination" id="paginationId"></ul>
		</div>
	</div>
</div>
</body>
</html>