<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="海象网络科技(杭州)有限公司" />
	<meta name="robots" content="All|None|Index|Noindex|Follow|Nofollow" />
	<meta name="author" content="海象网络科技(杭州)有限公司" />
	<meta name="copyright" content="© Walrushz.com All rights reserved" />
	<title>物流APP后台管理系统</title>
	<link rel="stylesheet" href="$request.getContextPath()/css/rightCommon.css">
	<link rel="stylesheet" href="$request.getContextPath()/css/common.css">
	<link rel="stylesheet" href="$request.getContextPath()/css/bootstrap.min.css" />
	
	<script type="text/javascript" src="$request.getContextPath()/js/jquery.min.js"></script>
	<script type="text/javascript" src="$request.getContextPath()/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="$request.getContextPath()/plugin/layer/layer.js"></script>
	<script type="text/javascript" src="$request.getContextPath()/plugin/My97DatePicker/WdatePicker.js"></script>
	<script type="text/javascript" src="$request.getContextPath()/plugin/jqPaginator/jqPaginator.js"></script>
	
	<script type="text/javascript" src="$request.getContextPath()/js/business/orderMana.js"></script>
	<script type="text/javascript" src="$request.getContextPath()/js/walrusType.js"></script>
</head>
<body>
<div class="mainSemt">
    <div class="navigateItem pl20">
    	业务管理>订单管理
    </div>
    <div class="search">
    	<ul class="mb20 overflow">
    		<li>
    			<select id="searchTypeId" name="searchTypeId" class="form-control select145 h30" onchange="searchType();">
    				<option value="0">搜索类型</option>
    				<option value="1">订单号</option>
					<option value="2"
						#if($type == '0')
							selected="selected"
						#end
						>货主</option>
					<option value="3"
						#if($type == '1')
							selected="selected"
						#end
						>车主</option>
					<option value="4">货物类型</option>
					<option value="5">车辆类型</option>
					<option value="6"
						#if($type == '2')
							selected="selected"
						#end
						>物流名称</option>
    			</select>
    		</li>
    		<li>
    			<input type="text" class="form-control text250 h30" id="searchTypeValue" name="searchTypeValue" 
					#if($typeValue != $null)
						value=$typeValue
					#end
				/>
				<select id="goodsTypeValue" name="goodsTypeValue" class="form-control text250 h30" style="display:none">
					#foreach($goods in $goodsType)
						<option value="$goods.key">$goods.value</option>
					#end
    			</select>
				<select id="truckTypeValue" name="truckTypeValue" class="form-control text250 h30" style="display:none">
        			#foreach($truck in $truckType)
						<option value="$truck.key">$truck.value</option>
					#end
    			</select>
    		</li>
    		<li>
    			<span class="fl">开始时间：</span>
    			<input type="text" class="form-control selec110 h30 fl" readonly  id="startDate" 
					#if($nowDate != $null && $nowDate != '')
						value="$nowDate"
					#end
					onClick="WdatePicker()"/>
    		</li>
    		<li>
    			<span class="fl">结束时间：</span>
    			<input type="text" class="form-control selec110 h30 fl" readonly  id="endDate"
					#if($nowDate != $null && $nowDate != '')
						value="$nowDate"
					#end
					onClick="WdatePicker()"/>
    		</li>
    	</ul>
    	<ul class="overflow"> 
    		<li>
    			<select id="departureProvince" name="departureProvince" class="form-control w40 h30" onchange="getCity('departureProvince','departureCity');">
    				<option value="">选择省</option>
					#foreach($province in $provinceList)
						<option value="$province.province">$province.province</option>
					#end
    			</select>
			</li>
			<li>
				<select id="departureCity" name="departureCity" class="form-control w40 h30" onchange="getArea('departureCity','departureArea');">
    				<option value="">选择市</option>
    			</select>
			</li>
			<li>
				<select id="departureArea" name="departureArea" class="form-control w40 h30">
    				<option value="">选择区或县</option>
    			</select>
			</li>
			<li>	
    			<span class="fl">&nbsp;-&nbsp;</span>
			</li>
			<li>
    			<select id="destinationProvince" name="destinationProvince" class="form-control w40 h30" onchange="getCity('destinationProvince','destinationCity');">
    				<option value="">选择省</option>
					#foreach($province in $provinceList)
						<option value="$province.province">$province.province</option>
					#end
    			</select>
			</li>
			<li>
				<select id="destinationCity" name="destinationCity" class="form-control w40 h30" onchange="getArea('destinationCity','destinationArea');">
    				<option value="">选择市</option>
    			</select>
			</li>
			<li>
				<select id="destinationArea" name="destinationArea" class="form-control w40 h30">
    				<option value="">选择区或县</option>
    			</select>
			</li>
    		<li>
    			<span class="btnSearch whitefc f14 mt5 clearfix cursor" onclick="search(1);">搜索</span>
				<input type="hidden" id="type" name="type" values="1"/>
    		</li>
    	</ul>
    </div>
    <div class="navOrder overflow">
    	<ul class="orderList">
    		<li class="active" onclick="searchOrderType(this,'1')">全部</li>
    		<li onclick="searchOrderType(this,'2')">已取消</li>
    		<li onclick="searchOrderType(this,'3')">报价中</li>
			<li onclick="searchOrderType(this,'4')">待发货</li>
    		<li onclick="searchOrderType(this,'5')">已发货</li>
    		<li onclick="searchOrderType(this,'6')">未收货</li>
    		<li onclick="searchOrderType(this,'7')">已完成</li>
    	</ul>
    </div>
    <div class="rightMain p10">
    	<div class="conentBody f14" id="divId">
    		
    	</div>
    	<div class="page tc f14 mt20 customBootstrap" id="pageId" style="display:none">
    		<div class="fl">共<span class="bluefc" id="showPageCount"></span>页记录</div><ul class="pagination" id="paginationId"></ul>
    	</div>
    </div>
</div>
</body>
</html>