<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="海象网络科技(杭州)有限公司" />
	<meta name="robots" content="All|None|Index|Noindex|Follow|Nofollow" />
	<meta name="author" content="海象网络科技(杭州)有限公司" />
	<meta name="copyright" content="© Walrushz.com All rights reserved" />
	<title>物流APP后台管理系统</title>
	<link rel="stylesheet" href="$request.getContextPath()/css/rightCommon.css">
	<link rel="stylesheet" href="$request.getContextPath()/css/common.css">
	<link rel="stylesheet" href="$request.getContextPath()/css/bootstrap.min.css" />
	
	<script type="text/javascript" src="$request.getContextPath()/js/jquery.min.js"></script>
	<script type="text/javascript" src="$request.getContextPath()/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="$request.getContextPath()/plugin/layer/layer.js"></script>
	<script type="text/javascript" src="$request.getContextPath()/plugin/My97DatePicker/WdatePicker.js"></script>
	<script type="text/javascript" src="$request.getContextPath()/plugin/jqPaginator/jqPaginator.js"></script>
	
	<script type="text/javascript" src="$request.getContextPath()/js/logistics/wareHouseMana.js"></script>
	<script type="text/javascript" src="$request.getContextPath()/js/walrusType.js"></script>
</head>
<body>
<div class="mainSemt">
	<div class="navigateItem pl20">
		物流管理>仓储管理 <a class="fr" href="javascript:void(0);" onclick="queryWareHouseRecord()">查看操作记录&nbsp;&nbsp;</a>
	</div>
	<div class="search">
		<ul class="mb20 overflow">
			<li>
				<select class="form-control select145 h30" id="searchTypeId" onchange="searchType();">
					<option value="0">搜索类型</option>
					<option value="1">仓储类型</option>
				</select>
			</li>
			<li>
				<input type="text" class="form-control text250 h30" id="searchTypeValue"/>
				
				<select id="wareHouseTypeValue" class="form-control text250 h30" style="display:none">
    				#foreach($wareHouse in $wareHouseType)
						<option value="$wareHouse.key">$wareHouse.value</option>
					#end
    			</select>
			</li>
			<li>	
    			<span class="fl">地址：</span>
			</li>
			<li>
    			<select id="province" name="province" class="form-control w40 h30" onchange="getCity();">
    				<option value="">选择省</option>
					#foreach($province in $provinceList)
						<option value="$province.province">$province.province</option>
					#end
    			</select>
			</li>
			<li>
				<select id="city" name="city" class="form-control w40 h30" onchange="getArea();">
    				<option value="">选择市</option>
    			</select>
			</li>
			<li>
				<select id="area" name="area" class="form-control w40 h30">
    				<option value="">选择区或县</option>
    			</select>
			</li>
			<li>
				<span class="btnSearch whitefc f14 mt5 clearfix cursor" onclick="search(1);">
					搜索
				</span>
			</li>
		</ul>
	</div>
	<div class="rightMain tc p10">
		<table width="100%">
			<tr>
				<td>编号</td>
				<td>仓储名</td>
				<td>仓储面积</td>
				<td>仓储类型</td>
				<td>仓储地址</td>
				<td>联系人</td>
				<td>联系电话</td>
				<td>注册日期</td>
				<td>操作</td>
			</tr>
			<tbody id="tbodyId">
				<tr >
					<td colspan="9">无数据</td>
				</tr>
            </tbody>
		</table>
		<div class="page tc f14 mt20 customBootstrap" id="pageId" style="display:none">
			<div class="fl">共<span class="bluefc" id="showPageCount"></span>页记录</div><ul class="pagination" id="paginationId"></ul>
		</div>
	</div>
</div>
</body>
</html>